@charset "UTF-8";
/* CSS Document */
.blogarticle
{
    border: 1px solid;
    border-color: rgb(200, 200, 200);

    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;

    background-color: rgba(254, 254, 254, 0.5);
    line-height:1.6em;

    margin: 2em auto 2em auto;
    width: 60em;
    padding:2em;
}
.blogarticle h1
{
    text-align:center;
    font-size:1.5em;
}
.blogarticle h2
{
    font-size:1.3em;

}
.blogarticle h3
{
    font-size:1.2em;

}
.blogarticle h4
{
    font-size:1.1em;

}
.blogarticle ul
{
    list-style-type:disc;
    padding-left:2em;
    margin:1em;
}
.blogarticle ol
{
    list-style-type:decimal;
    padding-left:2em;
    margin:1em;
    font-size:1em;
}
.blogarticle li {
    margin-bottom: 1em;
}
.blogarticle p
{
    margin:1em;
}
.blogarticle img {
    width: 100px;
    margin: 1em auto 2em auto;
}
.blogarticle table
{
    border-collapse: collapse;

}
.blogarticle pre {
    margin-left: 3em;
    margin-right: 3em;
    padding: 2em;
    background-color: rgb(245, 245, 245);
    overflow: auto;
  word-wrap: normal;
  white-space: pre;
}
.blogarticle blockquote {
    margin: 1em 2em 1em 1em;
    border-left: 0.5em rgb(180, 200, 180) solid;
    background-color: rgba(220, 240, 220, 0.4);
}
.blogarticle .time {
    margin: 2em 1em auto auto;
    text-align: right;
    font-style: italic;
    font-size: 0.7em;
    color: rgb(120, 120, 120);
}
.blogarticle table, .blogarticle th, .blogarticle td
{
    border: 1px solid black;
    padding:1em;
}
.blogarticle h1, .blogarticle h2, .blogarticle h3, .blogarticle h4, .blogarticle h5, .blogarticle h6 , .blogarticle .time{
    /*font-family: "Lantinghei SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;*/
    /*font-weight: bold;*/
    line-height:2em;
    display: block;
    cursor: default;

    margin-left: -1.2em;
    padding-left: 1.2em;
}
.blogarticle .anchor:hover{
    cursor: pointer !important;
    background-image: url("/images/anchor.png");
    background-position: left center;
    background-size: 1em;
    background-repeat: no-repeat;
}
.blogarticle input {
    display: inline;
    margin: 0;
    padding: 0;
}
.blogarticle button, .blogarticle textarea {
    display: block;
    margin: 1em;
}
.blogarticle textarea{
    width: 50%;
    height: 24em;
}