html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}

/*@charset "UTF-8";*/
/*@font-face
{
        font-family:LantingheiSC;
        src:url(/font/Lantinghei1.ttf);
        font-weight:400;
}
@font-face
{
        font-family:LantingheiSC;
        src:url(/font/Lantinghei0.ttf);
        font-weight:700;
}
@font-face
{
        font-family:XingkaiSC;
        src:url(/font/Xingkai1.ttf);
        font-weight:normal;
}
@fong-face
{
        font-family:XingkaiSC;
        src:url(/font/Xingkai0.ttf);
        font-weight:bold;
}
@font-face
{
        font-family:SourceSansPro;
        src:url(/font/source-sans-pro/SourceSansPro-Regular.otf);
        font-weight:normal;
        font-style:normal;
}
@font-face
{
        font-family:SourceSansPro;
        src:url(/font/source-sans-pro/SourceSansPro-It.otf);
        font-weight:400;
        font-style:italic;
}
@font-face
{
        font-family:SourceSansPro;
        src:url(/font/source-sans-pro/SourceSansPro-Light.otf);
        font-weight:100;
        font-style:normal;
}
@font-face
{
        font-family:SourceSansPro;
        src:url(/font/source-sans-pro/SourceSansPro-LightIt.otf);
        font-weight:100;
        font-style:italic;
}
@font-face
{
        font-family:SourceSansPro;
        src:url(/font/source-sans-pro/SourceSansPro-Semibold.otf);
        font-weight:700;
        font-style:normal;
}
@font-face
{
        font-family:SourceSansPro;
        src:url(/font/source-sans-pro/SourceSansPro-SemiboldIt.otf);
        font-weight:700;
        font-style:italic;
}
@font-face
{
        font-family:SourceSansPro;
        src:url(/font/source-sans-pro/SourceSansPro-Bold.otf);
        font-weight:900;
        font-style:normal;
}
@font-face
{
        font-family:SourceSansPro;
        src:url(/font/source-sans-pro/SourceSansPro-BoldIt.otf);
        font-weight:900;
        font-style:italic;
}*/
/*RESET*/
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6,
pre, p, fieldset, form, input, article, aside, command,
details, footer, nav, embed, 
output, section, time
{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, pre, code, embed, address, code, em, strong, time
{
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
}

fieldset, iframe, time
{
    border: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article, aside, img, footer,  nav, section, time
{
    display: block;
}

img {
    border: 0;
}

ul, ol, dl
{
    list-style-type:none;
}

em {
    font-style: italic;
}
strong {
    font-weight: bold;
}

/*CUSTOMIZE*/

html
{
    background-color: #fff;
    min-width:1000px;
}

body
{
    /*font-family: Georgia, 'Times New Roman', "Avenir", "Segoe UI", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei",  Verdana, Aril, Times, serif, sans-serif;*/
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    -webkit-font-smoothing: subpixel-antialiased;
    position: absolute;
    top: 0;
    color: rgb(40, 40, 40);
}

#container {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
}

a:link, a:visited, a:active, a:hover
{
    text-decoration: underline;
    color:#000;
}


.clear
{
    clear: both;
}

/*.clearer {
    clear: both;
    display: block;
    margin: 0;
    padding: 0;
    height: 0;
    line-height: 1px;
    font-size: 1px;
}*/

.selfclear {
    zoom: 1;
}

.selfclear:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}